{{ define "main" }}
<div class="td-content">
  <h1>{{ .Title }}</h1>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
  {{ .Content }}
  {{ partial "section-index.html" . }}
  {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
  {{ partial "feedback.html" .Site.Params.ui.feedback }}
  <br />
  {{ end }}
  {{ if (.Site.DisqusShortname) }}
  <br />
  {{ partial "disqus-comment.html" . }}
  {{ end }}
  {{ partial "page-meta-lastmod.html" . }}
</div>
{{ end }}