+++
categories = ["Statistics"]
title = "Materialien"
linkTitle = "Materialien"
weight = 1
draft = false
description = "Statistiken zu den in OERSI indizierten Materialien"
type = "docs"
+++

<div style="position: relative; overflow: hidden; width: 100%; padding-top: 70%;">
    <iframe src="https://oersi.org/resources/kibana/s/public/app/dashboards?auth_provider_hint=anonymous1#/view/9b60c360-d7e4-11ef-8de4-fd234001d460?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3A'2022-01-26T23%3A00%3A00.000Z'%2Cto%3Anow))&show-time-filter=true" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; max-width: 1200px; max-height: 600px;"></iframe>
</div>