/*

Nothing defined here. The Hugo project that uses this theme can override theme variables by adding a file to:

assets/scss/_variables_project.scss

*/

//$primary: #009EE3 !default;
//$secondary: #81c784 !default;
//$primary: #4BB696 !default;
//$secondary: #81c784 !default;
