{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}

<nav class="js-navbar-scroll navbar navbar-expand navbar-dark
            {{- if $cover }} td-navbar-cover {{- end }} flex-column flex-md-row td-navbar">
  <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
    {{- /**/ -}}
    <span class="navbar-brand__logo navbar-logo">
      {{- if ne .Site.Params.ui.navbar_logo false -}}
        {{ with resources.Get "icons/logo.svg" -}}
          {{ ( . | minify).Content | safeHTML -}}
        {{ end -}}
      {{ end -}}
    </span>
    {{- /**/ -}}
    <span class="navbar-brand__name">
      {{- .Site.Title -}}
    </span>
    {{- /**/ -}}
  </a>
  <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
    <ul class="navbar-nav mt-2 mt-lg-0">
      {{ $p := . -}}
      {{ range .Site.Menus.main -}}
      <li class="nav-item mr-4 mb-2 mb-lg-0">
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
        {{ with .Page }}{{ $active = or $active ( $.IsDescendant .) }}{{ end -}}
        {{ $pre := .Pre -}}
        {{ $post := .Post -}}
        {{ $url := urls.Parse .URL -}}
        {{ $baseurl := urls.Parse $.Site.Params.Baseurl -}}
        <a {{/**/ -}}
          class="nav-link {{- if $active }} active {{- end }}" {{/**/ -}}
          href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}"
          {{- if not (or (eq $url.Host $baseurl.Host) (in $.Site.Params.domain_network $url.Host)) }} target="_blank" {{- end -}}
        >
            {{- with .Pre }}{{ $pre }}{{ end -}}
            <span {{- if $active }} class="active" {{- end }}>
              {{- .Name -}}
            </span>
            {{- with .Post }}{{ $post }}{{ end -}}
        </a>
      </li>
      {{ end -}}
      {{ if .Site.Params.versions -}}
      <li class="nav-item dropdown mr-4 d-none d-lg-block">
        {{ partial "navbar-version-selector.html" . -}}
      </li>
      {{ end -}}
      {{ if (gt (len .Site.Home.Translations) 0) -}}
      <li class="nav-item dropdown mr-4 d-none d-lg-block">
        {{ partial "navbar-lang-selector.html" . -}}
      </li>
      {{ end -}}
    </ul>
  </div>
  <div class="navbar-nav d-none d-lg-block">
    {{ partial "search-input.html" . }}
  </div>
</nav>