+++
title = "OERSI"
linkTitle = "OERSI"
description = "Static pages of OERSI - a search index for Open Educational Resources in higher education"
+++

{{< blocks/cover title="OERSI - a search index for Open Educational Resources in higher education" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
	News <i class="fas fa-blog ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="primary" >}}


{{% blocks/feature icon="fas fa-book" title="Documentation" url="docs/" %}}
Read about features, concepts, administration, ...
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-blog" title="What's New?" url="blog/" %}}
Read announcements of latest news
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-circle-question" title="You have any questions?" url="faq/" %}}
Here you will find frequently asked questions and useful further information
{{% /blocks/feature %}}


{{< /blocks/section >}}
{{< blocks/section color="white" >}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/oersi/oersi-setup/-/blob/master/CONTRIBUTING.md" %}}
Contributions of any kind are welcome - requesting a new feature, submitting a bug report, contributing to the source code,...
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-square-plus" title="Add more OER" %}}
We are interested in more sources that contain OERs in the higher education context and welcome any suggestions.

[Create an issue](https://gitlab.com/oersi/oersi-etl/-/issues/new?issuable_template=add-source) or [contact us](https://oersi.org/resources/services/contact)!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-mastodon" title="Follow us on Mastodon!" url="https://openbiblio.social/@oersi" url_text="to Mastodon" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
