{{ $url := .Get "url" }}
{{ $id := .Get "id" }}
{{ $ok_info_id := .Get "ok_info_id" }}
{{ $failed_info_id := .Get "failed_info_id" }}
{{ $submit_button_label := .Get "submit_button_label" | default "Submit" }}
<form id="{{ $id }}" accept-charset="UTF-8" method="POST">
  {{.Inner}}
  <button type="submit" class="btn btn-primary">{{ $submit_button_label }}</button>
</form>
<script>
  function show(elementId) {
    if (elementId) {
      document.getElementById(elementId).style.display = 'block';
    }
  }
  function hide(elementId) {
    if (elementId) {
      document.getElementById(elementId).style.display = 'none';
    }
  }
  function submit_form(event) {
    event.preventDefault();
    const formData = new URLSearchParams(new FormData(event.target));
    fetch("{{ $url }}", {
      method: 'post',
      mode: 'same-origin', // no-cors, *cors, same-origin
      referrerPolicy: 'no-referrer',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: formData
    })
      .then((response) => {
        if (response.status === 200) {
          show("{{ $ok_info_id }}")
          hide("{{ $failed_info_id }}")
        } else {
          hide("{{ $ok_info_id }}")
          show("{{ $failed_info_id }}")
        }
      })
      .catch(error =>  {
        console.error(error)
        hide("{{ $ok_info_id }}")
        show("{{ $failed_info_id }}")
      });
  }

  document.getElementById("{{ $id }}").addEventListener("submit", submit_form);
</script>