{{ $geoJsonResource := (resources.Get ((.Get "geoJsonResource"))) }}
{{ $mapInfoHeading := "Number of OER" }}
{{ $mapInfoDescription := "Hover over a state" }}
{{ $mapInfoResources := "Resources" }}
{{ $language := (.Get "language") }}
{{ $languageLabelKey := "en" }}
{{ if eq $language "de" }}
    {{ $mapInfoHeading = "Anzahl der OER" }}
    {{ $mapInfoDescription = "Mauszeiger über ein Land bewegen" }}
    {{ $mapInfoResources = "Materialien" }}
    {{ $languageLabelKey = $language }}
{{ end }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<style>
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100vw;
    }
    #map {
        max-width: 1200px;
    }
    .info {
        padding: 6px 8px;
        /*font: 14px/16px Arial, Helvetica, sans-serif;*/
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }
    .legend {
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
</style>
<div id="map" style="height: 90vh; width: 100%; max-height: 700px;"></div>
<script type="text/javascript" src="{{ $geoJsonResource.RelPermalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "js/oer-map.js").RelPermalink }}"></script>
<script>
  const map = new OerMap(countryRestriction = {{ if (isset .Params "countryRestriction") }}{{ (.Get "countryRestriction") }}{{else}}null{{ end }}, countrySearch = {{if eq (.Get "countrySearch") "false"}}false{{else}}true{{end}}, regionSearch = {{if eq (.Get "regionSearch") "false"}}false{{else}}true{{end}});
  map.updateInfoText = function (props) {
    return '<h4>{{ $mapInfoHeading }}</h4>' + (props ?
      '<b>' + props.names[{{ $languageLabelKey }}] + '</b><br />' + props.oerCount + ' {{ $mapInfoResources }}'
      : {{ $mapInfoDescription }});
  };
  map.addBaseLayer("Countries", geoJsonData);
  map.initMap();
</script>
