+++
title = "OERSI"
linkTitle = "OERSI"
description = "Statische Seiten des OERSI - ein Suchindex für Open Educational Resources in der Hochschullehre"
+++

{{< blocks/cover title="OERSI - ein Suchindex für Open Educational Resources in der Hochschullehre" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
	Aktuelles <i class="fas fa-blog ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Mehr erfahren <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="primary" >}}


{{% blocks/feature icon="fas fa-book" title="Dokumentation" url="docs/" %}}
Mehr erfahren über Funktionen, Konzepte, Administration, ...
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-blog" title="Was gibt's Neues?" url="blog/" %}}
Die neuesten Nachrichten über OERSI lesen
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-circle-question" title="Gibt es Fragen?" url="faq/" %}}
Hier sind häufig gestellte Fragen und weitere nützliche Informationen zu finden
{{% /blocks/feature %}}


{{< /blocks/section >}}
{{< blocks/section color="white" >}}


{{% blocks/feature icon="fab fa-gitlab" title="Beiträge sind erwünscht!" url="https://gitlab.com/oersi/oersi-setup/-/blob/master/CONTRIBUTING.md" %}}
Beiträge jeglicher Art sind willkommen - eine neue Funktion beantragen, einen Fehlerbericht einreichen, zum Quellcode beitragen,...
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-square-plus" title="Weitere OER hinzufügen" %}}
Wir sind an weiteren Quellen interessiert, die OER im Kontext der Hochschulbildung enthalten, und freuen uns über jeden Vorschlag.

[Ein Ticket erstellen](https://gitlab.com/oersi/oersi-etl/-/issues/new?issuable_template=add-source) oder [Kontakt mit uns aufnehmen](https://oersi.org/resources/services/contact)!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-mastodon" title="Folge uns auf Mastodon!" url="https://openbiblio.social/@oersi" url_text="zu Mastodon" %}}
Zur Ankündigung der neuesten Features usw.
{{% /blocks/feature %}}


{{< /blocks/section >}}
